In [18]:
import numpy as np
import pandas as pd
import os
from sklearn.linear_model import LogisticRegression
from scipy.special import expit, logit
from sklearn.metrics import roc_auc_score

In [19]:
sub1=pd.read_csv('submission6.csv')

In [20]:
sub1.head()

   SK_ID_CURR    TARGET
0      100001  0.026111
1      100005  0.138700
2      100013  0.024275
3      100028  0.039553
4      100038  0.139159

In [21]:
sub1['log1']=sub1['TARGET'].apply(lambda x: np.log(x))

In [22]:
sub1.head()

   SK_ID_CURR    TARGET      log1
0      100001  0.026111 -3.645398
1      100005  0.138700 -1.975445
2      100013  0.024275 -3.718293
3      100028  0.039553 -3.230113
4      100038  0.139159 -1.972139

In [23]:
sub2=pd.read_csv('submission5.csv')

In [24]:
sub2.head()

   SK_ID_CURR    TARGET
0      100001  0.027552
1      100005  0.162024
2      100013  0.027483
3      100028  0.038393
4      100038  0.164050

In [25]:
sub2['log2']=sub2['TARGET'].apply(lambda x: np.log(x))

In [26]:
sub3=pd.read_csv('submission7.csv')

In [27]:
sub3.head()

   SK_ID_CURR    TARGET
0      100001  0.028352
1      100005  0.148469
2      100013  0.024441
3      100028  0.031189
4      100038  0.138986

In [28]:
sub3['log3']=sub3['TARGET'].apply(lambda x: np.log(x))

In [29]:
sub4=pd.read_csv('submission_drop_feature1.csv')

In [30]:
sub4.head()

   SK_ID_CURR    TARGET
0      100001  0.033260
1      100005  0.127116
2      100013  0.027394
3      100028  0.033864
4      100038  0.144447

In [31]:
sub4['log4']=sub4['TARGET'].apply(lambda x: np.log(x))

In [33]:
dfs = [sub1, sub2, sub3, sub4]

In [34]:
df_final = reduce(lambda left,right: pd.merge(left,right,on='SK_ID_CURR'), dfs)

In [35]:
df_final.head()

,SK_ID_CURR,TARGET_x,log1,TARGET_y,log2,TARGET_x,log3,TARGET_y,log4
0,100001,0.026111,-3.645398,0.027552,-3.591671,0.028352,-3.563053,0.033260,-3.403399
1,100005,0.138700,-1.975445,0.162024,-1.820013,0.148469,-1.907382,0.127116,-2.062656
2,100013,0.024275,-3.718293,0.027483,-3.594187,0.024441,-3.711480,0.027394,-3.597435
3,100028,0.039553,-3.230113,0.038393,-3.259876,0.031189,-3.467684,0.033864,-3.385413
4,100038,0.139159,-1.972139,0.164050,-1.807585,0.138986,-1.973380,0.144447,-1.934843

In [56]:
sub5 = pd.DataFrame()

In [57]:
sub5['SK_ID_CURR'] = sub4['SK_ID_CURR']

In [58]:
sub5['TARGET']=np.exp(0.3*df_final['log1']+0.3*df_final['log2']+0.2*df_final['log3']+0.2*df_final['log4'])

In [59]:
sub5.head()

   SK_ID_CURR    TARGET
0      100001  0.028314
1      100005  0.144765
2      100013  0.025848
3      100028  0.036239
4      100038  0.147259

In [60]:
sub5.to_csv('models_ensemble5.csv',index=False)